<!DOCTYPE html>
<html lang="en">
<head>
  <title>Openstack Installer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="bootstrap/css/splash.css">
  <script src="bootstrap/jquery/jquery-1.11.2.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
	<script>
	setTimeout(function(){

    $('.progress .progress-bar').each(function() 
	{
        var me = $(this);
        var perc = me.attr("data-percentage");

        var current_perc = 0;
		time_count=0;
		counter=0;
        var progress = setInterval(function(){
			
			if(time_count>30)
				time_count=0;
				
			if (current_perc>=perc) 
			{
                clearInterval(progress);
				getText(4);
            } 
			else 
			{
                current_perc +=1;
                me.css('width', (current_perc)+'%');
				
				if(time_count==10 && counter==0)
				{
						counter=1;
						getText(1);
				}
				else if(time_count==20 && counter==1)
				{
				     	counter=2;
						getText(2);
				}
				else if(time_count==30 && counter==2)
					{
						counter=0;
						getText(3);
					}
					
				time_count++;
				}

        }, 40);

    });

},300);
	setTimeout('Redirect()', 5000);
	
	function Redirect()
	{
	//	window.location="check.html";
	}
	function getText(val)
	{
		var sp_text = document.getElementById("special_text");
		
		if(val ==1)
		special_text.innerHTML = "Initializing &nbsp;&nbsp;&nbsp;";
		if(val==2)
		special_text.innerHTML = "Initializing &nbsp;. &nbsp;&nbsp;";
		if(val ==3)
		special_text.innerHTML = "Initializing &nbsp;. &nbsp;. &nbsp;&nbsp;";
		if(val==4)
		special_text.innerHTML = "<span>Done</span>";
	}
	</script>
</head>
<body style="background-color:#26343f; ">
<div class="container odisis-splash">
	
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6" align="center">
			<img src="bootstrap/images/splash-logo.png">
		</div>
		<div class="col-md-3">
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6" align="center">
			<div class="progress progress-striped active" style="height: 6px; width: 50%">
				<div class="progress-bar progress-bar-info" role="progressbar" 
					aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" 
					style="width: 0%; height: 6px;" data-percentage="100" >
				</div>
			</div>
			<div id="special_text" style="font-family:Roboto-Thin; font-size:16px; color:#fff; margin-top:-8px; align:center">&nbsp;</div>
		</div>
		<div class="col-md-3">
		</div>
	</div>
	
</div>
	<div class="footer-location"><img src="bootstrap/images/footer2.png"></div>
</body>
</html>